.brick {
  width: 42px;
  height: 30px;
  background-image: url("/brickAtlas.png");
  background-repeat: no-repeat;

  &.brick-discordblue {
    background-position-x: -798px;
  }

  &.brick-dblue {
    background-position-x: -210px;
  }

  &.brick-iceblue {
    background-position-x: -336px;
  }

  &.brick-algae {
    background-position-x: -378px;
  }

  &.brick-red {
    background-position-x: 0px;
  }
}
